html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.main-container {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.top-container {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.city-banner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    z-index: -1;
}
