.gallery-container {
    max-width: 1200px;
    width: 1240px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

.photo-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    margin-bottom: 20px;
}

.photo-item {
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: relative;
    aspect-ratio: 4 / 3;
}

.photo-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.navigation-buttons {
    display: flex;
    justify-content: space-between; /* Διαμοιρασμός των κουμπιών στα άκρα */
    margin-top: 20px;
}

.load-more-button {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 48%; /* Διαιρεμένο πλάτος για τα κουμπιά */
}

.load-more-button:hover {
    background-color: #0056b3;
}

.load-more-button:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
}
