.destinationWeather-container{
    width: 500px;
    height: fit-content;
    background-color: rgba(50, 50, 50, 0.1);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 30px;
    border-radius: 25px;
}

@media (max-width: 970px) {
    .weather-day {
        flex-basis: calc(40% - 10px);
    }

    .destinationWeather-container{
        width: auto;
        height: fit-content;
        background-color: rgba(50, 50, 50, 0.1);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        padding: 30px;
        border-radius: 25px;
    }
}