/* Γενικό CSS για τη σελίδα */
html, body {
    height: 100%; /* Βεβαιωθείτε ότι η σελίδα καταλαμβάνει όλο το ύψος */
    margin: 0;
}

/* Container για το κυρίως περιεχόμενο */
.experience-main-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Το container καταλαμβάνει το ύψος της σελίδας */
}

/* Το περιεχόμενο της σελίδας */
.experience-table {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin: 1em;
    flex-grow: 1; /* Κάνει το περιεχόμενο να καταλαμβάνει το διαθέσιμο χώρο */
    height: 542px;
}

/* Στυλ για κάθε record */
.experience-record {
    display: flex;
    flex-direction: row;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    align-items: center;
    justify-content: space-between;
    background-color: #f9f9f9;
}

/* Στυλ για τις στήλες του record */
.record-column {
    flex: 1;
    padding: 0 10px;
    text-align: center;
}

/* Στυλ για την εικόνα στο record */
.record-image {
    max-width: 100px;
    max-height: 100px;
    border-radius: 5px;
}

/* Pagination styling */
.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    gap: 10px;
}

.pagination-button {
    padding: 10px 15px;
    background-color: #f0f0f0;
    border: 1px solid #ddd;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.pagination-button:hover {
    background-color: #a4c991;
    color: white;
}

.pagination-button.active {
    background-color: #a4c991;
    color: white;
    font-weight: bold;
    border-color: #a4c991;
}

/* Στυλ για το filter container */
.filter-container {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin: 20px 0;
}

/* Στυλ για το search input */
.search-input {
    padding: 10px;
    width: 200px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
}

/* Στυλ για το filter select */
.filter-select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
    background-color: #f9f9f9;
}

/* Footer styling */
footer {
    padding: 10px 0;
    background-color: #333;
    color: white;
    text-align: center;
}

@media (max-width: 415px) {
    .experience-table {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        margin: 1em;
        flex-grow: 1;
    }
}
