.experience-record {
    display: grid;
    width: 95%;
    grid-template-columns: 2fr 4fr 1fr 1fr;
    gap: 10px;
    align-items: center;
    border: 1px solid #ddd;
    padding: 15px;
    border-radius: 8px;
    background-color: #ffffff;
}

.experience-record:hover {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    transform: translateY(-5px);
    transition: transform 0.5s ease, box-shadow 0.5s ease;
}

.record-column {
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.1em;
    word-wrap: break-word; /* Προσθήκη για να σπάει το κείμενο και να παραμένει εντός του container */
    overflow-wrap: break-word; /* Βοηθάει στην εμφάνιση του κειμένου σωστά μέσα στον περιορισμένο χώρο */
}

.directions-button, .more-button {
    width: fit-content;
    padding: 10px 15px;
    background-color: #a4c991;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s ease;
}

.directions-button:hover, .more-button:hover {
    background-color: #8fb87e;
}

.directions-button:focus, .more-button:focus {
    outline: none;
    box-shadow: 0 0 3px 2px rgb(164, 201, 145, 0.5);
}

.experience-record.visited {
    width: 95%;
    border: 2px solid green;
    background-color: #e6ffe6;
    transition: background-color 0.3s ease;
}

/* Media Query για κινητές συσκευές */
@media (max-width: 768px) {
    .experience-record {
        grid-template-columns: 1fr 1fr; /* Χωρίς 4 στήλες, θα έχει 2 στήλες για μικρές οθόνες */
        gap: 15px; /* Λίγο περισσότερο κενό μεταξύ των στοιχείων */
    }

    .record-column {
        flex-direction: column; /* Τα περιεχόμενα να είναι κατακόρυφα */
        justify-content: flex-start; /* Το περιεχόμενο θα στοιχίζεται πάνω */
    }

    .directions-button, .more-button {
        width: 100%; /* Κάνουμε τα κουμπιά να είναι πλήρους πλάτους */
        margin-bottom: 10px; /* Προσθήκη απόστασης μεταξύ των κουμπιών */
    }

    /* Προσαρμογή για τα κουμπιά (να είναι κατακόρυφα) */
    .record-column button {
        margin: 5px 0;
    }
}
