html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.main-container {
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mid-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr); /* Δύο στήλες για μεγαλύτερες οθόνες */
    gap: 1rem; /* Απόσταση μεταξύ των στοιχείων */
    width: 100%;
    max-width: 1200px;
    padding: 1rem;
    box-sizing: border-box;
}

/* Responsive design για οθόνες κινητών */
@media (max-width: 768px) {
    .mid-container {
        grid-template-columns: 1fr; /* Μία στήλη για κινητά */
        padding: 0.5rem;
    }

    .main-container {
        padding: 0;
    }
}
