html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.map-main-container{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.map-header-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.map-filter-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.map-container {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
}

.dest-redirect-button {
    background-color: #007bff;
    color: aliceblue;
    border: none;
    padding: 8px 12px;
    border-radius: 5px;
    font-size: 14px;
    font-weight: bold;
}

.dest-redirect-button:hover {
    cursor: pointer;
    background-color: #0056b3; /* Μία πιο σκούρα απόχρωση στο hover */
}
