.pieria-container {
    margin: auto;
    width: 100%;
    padding-left: 2em;
    padding-right: 2em;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    height: 100%;
}

.pieria-title {
    font-size: 2rem;
    font-weight: bold;
    color: #a4c991;
    margin-bottom: 1em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.pieria-paragraph {
    font-size: 1.2rem;
    line-height: 1.6;
    color: #333;
    font-family: 'Georgia', serif;
    text-align: justify;
}
