.weather-widget {
    font-family: Arial, sans-serif;
    width: 85%;
    margin: 0 auto;
    padding: 20px;
    background-color: #f0f0f0;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.weather-widget h1 {
    text-align: center;
    color: #333;
}

.forecast-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.today-forecast {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

.today-forecast h2 {
    margin-top: 0;
    color: #333;
}

.weather-icon {
    font-size: 48px;
    margin: 10px 0;
}

.weather-description {
    font-size: 18px;
    color: #666;
}

.temperature {
    font-size: 36px;
    font-weight: bold;
    color: #333;
    margin: 10px 0;
}

.low-temperature {
    font-size: 14px;
    color: #666;
}

.next-days-forecast {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.day-forecast {
    background-color: #fff;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    flex: 1;
}

.day-name {
    font-weight: bold;
    color: #333;
    margin-bottom: 5px;
}

.day-forecast .weather-icon {
    font-size: 24px;
}

.day-forecast .temperature {
    font-size: 18px;
}

.day-forecast .low-temperature {
    font-size: 12px;
}

@media (max-width: 600px) {
    .next-days-forecast {
        flex-direction: column;
    }
}



@media (max-width: 970px) {
    .weather-day {
        flex-basis: calc(40% - 10px);
    }
}