.admin-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    overflow: auto;
}

.admin-list-box {
    flex: 0.5;
}

.admin-list-box h3{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.custom-list {
    list-style: none;
    padding: 0;
    margin: 0;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
}

.custom-list li {
    padding: 10px;
    cursor: pointer;
    border-bottom: 1px solid #eee;
}

.custom-list li:last-child {
    border-bottom: none;
}

.custom-list li:hover {
    background-color: #e6e6e6;
}

.admin-content {
    flex: 2;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 8px;
    background-color: #f9f9f9;
    height: fit-content;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

h3 {
    cursor: pointer;
    margin-top: 10px;
    font-weight: bold;
}

h4 {
    cursor: pointer;
    padding-left: 20px;
}

.section-content {
    margin-left: 20px;
    padding-bottom: 10px;
}

h3:hover {
    color: #007BFF;
}

h4:hover {
    color: #007BFF;
}

